@page "/Info/{id:int}"
@inject DatabaseContext DbContext
@inject PokemonImageGrabber ImageGrabber

<h3>Info</h3>

@if (pokemon is not null)
{
    <p>@pokemon?.Name</p>
    <p>@pokemon?.HP</p>

    <img src="@imageUrl" onerror="this.onerror=null;this.src='/img/notfound.png';" class="img-fluid img-thumbnail rounded-start" alt="@pokemon?.Name" />

}
else
{
        <p>No pokemon found for that Id</p>
}


@code {
    [Parameter]
    public int Id { get; set; }

    private Pokemon? pokemon;
    private string? imageUrl { get; set; }

    protected override void OnInitialized()
    {
        pokemon = DbContext.Pokemons.SingleOrDefault(p => p.Id == Id);
        imageUrl = ImageGrabber.GetImageUrl(pokemon);
    }
}

 
<h5><span class="badge text-bg-primary">@pokemon.Type</span></h5><h5><span class="badge text-bg-success">@pokemon.Generation</span></h5>


<div class="progress" role="progressbar" aria-label="Success example" style="height: 30px" aria-valuenow="@pokemon?.HP" aria-valuemin="0" aria-valuemax="255">
    <div class="progress-bar bg-success" style="width: @(pokemon?.HP*100/255)%">HP</div>
</div>
<div class="progress" role="progressbar" aria-label="Info example" style="height: 30px" aria-valuenow="@pokemon?.Attack" aria-valuemin="0" aria-valuemax="255">
    <div class="progress-bar bg-info text-dark" style="width: @(pokemon?.Attack*100/255)%">Attack</div>
</div>
<div class="progress" role="progressbar" aria-label="Warning example" style="height: 30px" aria-valuenow="@pokemon?.Defence" aria-valuemin="0" aria-valuemax="255">
    <div class="progress-bar bg-warning text-dark" style="width: @(pokemon?.Defence*100/255)%">Defence</div>
</div>
<div class="progress" role="progressbar" aria-label="Danger example" style="height: 30px"
    aria-valuenow="@pokemon?.Speed" aria-valuemin="0" aria-valuemax="255">
    <div class="progress-bar bg-danger" style="width: @(pokemon?.Speed*100/255)%">Speed</div>
</div>

